$colors:(
    main: #0C0C0C !important,
    secondary: #ECECEC !important,

    standard-title: #1B1919 !important,
    standard-text: #9b9b9b !important,
    stadard-button-text: #fff !important,

    background-secondary: #b3b5b5 !important,

    colection: #ac8a8a !important,

    alert: #ef2626 !important
);