$colors:(
    main: #0C0C0C,
    secondary: #ECECEC,

    standard-title: #1B1919,
    standard-text: #9b9b9b,
    stadard-button-text: #fff,

    background-secondary: #b3b5b5,

    colection: #ac8a8a,

    alert: #ef2626
);