@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400|Karla');

.hind{ font-family: 'Hind Vadodara', sans-serif; }
.cabin{ font-family: 'Cabin', sans-serif; }
.karla{ font-family: 'Karla', sans-serif; }