h2.section-title-home{
    text-align: center;
    position: relative;

    span.title-separator {
        display: block;

        span::before{
            @include rotateLine(45deg);
        }

        span::after{
            @include rotateLine(-45deg);
        }

        &::before,&::after,span::before,span::after{
            content: "";
            position: absolute;
            bottom: -12px;
            left: 50%;
            margin-left: -12px;
            width: 12px;
            height: 1px;
            display: inline-block;
            background-color: #DCDCDC;
        }

        &::before{
            margin-left: -44px;
            width: 24px;
        }

        &::after{
            margin-left: 10px;
            width: 24px;
        }
    }
}

#outstanding-conditions{
    .main-condition{
        background-color: map-get($colors, main);
        padding: 20px 12px;

        h4{
            text-align: center;
            line-height: 1.6;
            letter-spacing: 1.5px;
            font-size: 14px;
            font-weight: 300;
        }
    }

    h1{
        font-size: 14px;
        border: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        position: relative;
        text-align: center;
        font-weight: 300;

        &::after{
            content: "";
            position: absolute;
            bottom: -12px;
            left: 50%;
            margin-left: -15px;
            width: 30px;
            height: 2px;
            display: inline-block;
            background-color: map-get($colors, background-secondary);
        }
    }
}

#products-categories{
    ul{
        display: flex;
        flex-wrap: wrap;

        li{
            a{
                position: relative;
                display: block;

                h3{
                    position: absolute;
                    bottom: 0;
                    background-color: map-get($colors, stadard-button-text);
                    height: 26px;
                    padding: 0;
                    text-align: center;
                    line-height: 30px;
                    width: 90px;
                    font-size: 16px;
                    font-style: italic;
                    color: map-get($colors, main);
                    letter-spacing: 1.5px;
                    @include absolutCenter;
                }
            }
        }
    }
}

@media #{$smartphones}{
    h2.section-title-home{
        font-size: 20px;
        font-weight: 400;
    }

    #outstanding-conditions{
        margin: 20px 0 35px;

        h1{
            margin-top: 15px;
        }
    }

    #products-featureds,#products-categories{
        & ul{
            margin-top: 40px;
        }
    }

    #products-categories{
        ul{
            li{
                width: 50%;
                padding: 5px;
            }
        }
    }
}


@media #{$tablets}{
    #outstanding-conditions{
        .main-condition{
            padding: 12px;
            margin-top: 30px;
        }

        h1{
            margin: 15px 0 30px;
        }
    }

    h2.section-title-home{
        font-size: 26px;
        margin-bottom: 30px;
    }

    #products-categories{
        ul{
            li{
                width: 25%;
                padding: 10px;
            }
        }
    }
}